#header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  font-family: "Oswald", sans-serif;
}
nav {
  display: flex;
  flex-direction: row;
}
nav ul li {
  list-style: none;
  display: inline;
}
nav ul li a {
  padding: 15px;
  text-decoration: none;
  color: #333;
  font-size: 15px;
}
nav ul li a:hover {
  background: #e50c39;
  color: #fff;
}
.main-content h2 {
  display: flex;
  justify-content: center;
  font-family: "Oswald", sans-serif;
  font-size: 2.5rem;
  color: #333;
  letter-spacing: 2px;
}
.gallery {
  font-family: "Work Sans", sans-serif;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.gallery li {
  display: flex;
  list-style: none;
  width: calc(100% / 3);
  padding: 10px;
  box-sizing: border-box;
}
.gallery li .box {
  border: 2px solid #e1e8ee;
  padding: 6px 6px 30px 6px;
}
.gallery li .box img {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin-bottom: 6px;
  justify-content: center;
}
h3 {
  margin-bottom: 6px;
  font-size: 1.25rem;
  text-align: center;
  font-weight: bold;
  line-height: 100%;
  text-transform: uppercase;
  color: #17181a;
  letter-spacing: 2px;
  height: 10vh;
}
p {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #135d76;
}
time {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  font-weight: bold;
  color: #1a5b5d;
}
.gallery li .box .button {
  
  margin-top: 5px;
  padding: 7px;
    width: 100%;
  border: none;
  background: #15402d;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 600;
  color: #fff;
  font-family: "Work Sans", sans-serif;
}
